{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="card shadow-lg border-0 rounded-lg mt-5">
    <div class="card-header"><h3 class="text-center font-weight-light my-4">Письмо с инструкциями по восстановлению
        пароля отправлено</h3>
    </div>
    <div class="card-body text-center">
        <p>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей
            базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</p>
    </div>
    <div class="card-footer text-center">
        <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и
            проверьте папку со спамом.</p>

    </div>
</div>
{%endblock%}